<div id="overlay" class="header-burger-menu overlay">
  <div class="overlay-content">
    <ul class="header-list">
      <li>
        <a href="./index.html" class="header-link current-burger"
          ><strong class="burger-text hed-text">home</strong></a
        >
      </li>
      <li>
        <a href="./shopping-list.html" class="burger-shop-list"
          ><strong class="shoping-menu-text hed-text">shopping list</strong>

          <svg class="shopping-icon-burger" width="20" height="20">
            <use href="./img/icons/symbol-defs.svg#icon-shopping"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <img
      class="burger-img"
      srcset="./img/images/burger-1x.png 1x, ./img/images/burger-2x.png 2x"
      src="./img/images/burger-1x.png"
      alt="books"
      height="370"
    />
  </div>
</div>
