<div class="fonds-container container">
  <div class="flex-fonds-list">
    <div class="flex-fonds-title">
      <h2 class="title-Ukr">Support Ukraine</h2>
      <svg class="support-svg" width="20" height="32">
        <use href="./img/icons/symbol-defs.svg#icon-ukraine"></use>
      </svg>
    </div>

    <div class="slider-container">
      <ul id="fonds-list" class="support-container"></ul>
    </div>
    <div class="supp-scroll-btn">
      <button type="button" class="supp-btn" aria-label="Next">
        <svg class="supp-arrow" width="20" height="20">
          <use href="./img/icons/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
