@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .header {
    min-width: 768px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    min-width: 1440px;
  }
}

.header-container {
  height: 64px;
  border-bottom: 1px solid var(--rep-black);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--rep-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--rep-white);
}
@media only screen and (min-width: 768px) {
  .header-container {
    height: 72px;
  }
}

.box-logo {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-name {
  color: var(--rep-black);
  letter-spacing: -0.56px;
}

.nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: initial;
  }
}

.nav-list {
  display: flex;
  align-items: center;
}

.had-nav-link {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
  color: var(--rep-black);
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .had-home {
    margin-right: 24px;
  }
}

.had-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.box-burger {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* -----------------------------BURGER=---------------============= */
.header {
  position: fixed;
  top: 0;
  z-index: 3;
  background: none;
  width: 100%;
}
.header-close {
  display: none;
}
.header-burger {
  display: none;
}
.active {
  display: block;
}
/* .burger-img {
  display: none;
} */

.header-burger-menu {
  position: relative;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
}

.overlay-content {
  margin-top: 247px;
  /* position: relative; */
  display: flex;
  justify-content: center;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 17px;
}
.header-link {
  color: var(--white-color);
}
/*  */
.shoping-menu-text {
  color: var(--white-color);
}
.unscroll {
  overflow: hidden;
}

.shoping-text {
  color: var(--black-color);
}

.burger-shop-list {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

/* сумка пк шоп */
.shopping-icon {
  fill: var(--black-color);
}

/* сумка пк хом */
.shopping-icon-current {
  fill: var(--rep-black); /* ! */
}

.shopping-icon-burger {
  fill: var(--white-color);
}
.shopping-icon-burger-current {
  fill: var(--black-color);
}
/* мобилка картинка бургер */
.burger-icon {
  display: initial;
  stroke: var(--rep-black);
}

@media only screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
  .header-close {
    display: none;
  }
  .overlay {
    display: none !important;
  }
}

/* ----------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .header-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -100%;

    width: 100%;
    height: 100%;
    z-index: 2;

    -moz-transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s;
    -webkit-transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s;
    transition: top 0.5s, right 0.5s, bottom 0.5s, left 0.5s;
  }
  .overlay.active {
    position: fixed;
    top: 0;
  }
  .header-container {
    max-width: 768px;
  }
  .burger-img {
    width: 100%;
    height: 390px;
  }
}

/* ---  --- */

input[type='checkbox'] {
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 1px;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked ~ .check {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked ~ .check::after {
  transform: translateX(20px);
}

.current {
  color: var(--black-color);
  background-color: var(--yellow-color);
  padding: 8px 16px;
  border-radius: 36px;
}
.current-burger {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  color: var(--black-color);
  background-color: var(--yellow-color);
  padding: 8px 16px;
  border-radius: 36px;
}

.hed-text {
  text-transform: uppercase;
}
