.modal-section {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--pop-up-background);
  transition: var(--transition);
  transform: scale(0.8); /* Початковий масштаб модального вікна */
  opacity: 0;
  animation: openModal 0.7s forwards;
}

.modal-section {
  min-width: 320px;
}
.modal-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--transition);
  width: 335px;
  border: 2px solid var(--rep-black);
  border-radius: 18px;
  background: var(--rep-pop-up-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px 24px;
  z-index: 1000;
  /* position: relative; */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pop-up-background);
  z-index: 999;
}

.icon-x-close {
  stroke: #111111;
}
.containerImg {
  width: 100%;
  height: 100%;
}

.modal-book-image {
  text-align: center;
  margin-bottom: 14px;
  align-items: center;
}

.modal-book-title {
  /* color: #111; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  margin-bottom: 4px;
}
.modal-author {
  color: var(--grey-text-color);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  margin-bottom: 18px;
}
.modal-description {
  color: var(--rep-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 14px;
}
.modal-links {
  display: inline-flex;
  gap: 20px;
  margin-bottom: 44px;
}
.modal-icon-x-close {
  stroke: var(--rep-black);
  position: absolute;
  right: 12px;
  top: 12px;
}

.modal-icon-x-close:hover,
.modal-icon-x-close:focus {
  stroke: var(--rep-x-focus);
}
.amazon {
  filter: var(--rep-pop-up-amazon);
}
.modal-img-book {
  filter: grayscale(100%);
}

.modal-btn-books {
  width: 211px;
  height: 46px;
  color: var(--rep-black);
  border-radius: 40px;
  border: 2px solid var(--violet-color);
  margin-bottom: 8px;
  margin-left: 38px;
  text-transform: uppercase;
}

.modal-btn-books:hover,
.modal-btn-books:focus {
  background: var(--violet-color);
  color: var(--white-color);
}
/* .modal  */
.modal-message {
  color: var(--rep-pop-up-text-activated-batton);

  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  .vse {
    display: flex;
    flex-direction: row;
  }
  .modal-btn-books {
    color: var(--rep-black);
    width: 499px;
    height: 64px;
    margin: 0;
    margin-bottom: 8px;
  }
  .modal-container {
    width: 579px;
    padding: 40px 40px;
  }
  .modal-message {
    width: 342px;
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.48px;
    text-align: center;
  }
  .modal-information {
    display: flex;
  }
  .modal-book-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.96px;
  }
  .modal-author {
    font-size: 14px;
    font-style: italic;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }
  .modal-description {
    width: 279px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }
  .modal-icon-x-close {
    right: 24px;
    top: 24px;
  }

  .modal-tex-meseg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-book-image {
    width: 287px;
    height: 408px;
  }

  .modal-links {
    justify-content: center;
  }

  .containerImg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal-book-image {
    width: 192px;
    height: 281px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-btn-books {
    margin: 0;
  }
  .modal-icon-x-close {
    width: 28px;
    height: 28px;
  }
  .modal-btn-books {
    margin-bottom: 8px;
  }
  .modal-container {
    padding: 44px 44px;
  }

  .modal-book-image {
    width: 192px;
    height: 281px;
  }
}

/* @keyframes openModal {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
} */

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
